.preview {
  margin-top: 73px;
  margin-bottom: 116px;

  display: flex;
  justify-content: space-between;
}

.preview__box {
  max-width: 406px;
}

.preview__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #121212;
}

.preview__descr {
  margin-top: 36px;

  font-size: 20px;
  line-height: 23px;
  color: #838383;
}

.preview__link {
  display: inline-block;
  margin-top: 46px;
  padding: 9px 22px 10px 21px;

  background: #ff8f52;
  border-radius: 5px;

  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.preview__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.preview__img {
  width: 192px;
  height: 192px;

  border-radius: 10px;
}
