.preview {
  margin-top: 73px;
  margin-bottom: 109px;

  display: flex;
  justify-content: space-between;
}

.preview__box {
  max-width: 406px;
}

.preview__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #121212;
}

.preview__descr {
  margin-top: 36px;

  font-size: 20px;
  line-height: 23px;
  color: #838383;
}

.preview__link {
  display: inline-block;
  margin-top: 46px;
  padding: 9px 22px 10px 21px;

  background: #ff8f52;
  border-radius: 5px;

  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.preview__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.preview__img {
  width: 192px;
  height: 192px;

  border-radius: 10px;
}

/* Best selers */

.best-selers {
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  letter-spacing: -0.5;
  line-height: 38px;
  color: #000000;
}
.title::before,
.title::after {
  content: '';
  display: block;
  width: 165px;
  height: 2px;
  background: #d9d9d9;
}
.title::before {
  margin-right: 19px;
}
.title::after {
  margin-left: 19px;
}
.best-selers_heading {
  margin-bottom: 32px;
}

.products__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 103px;
}
.product__card {
  max-width: 287px;
  padding: 17px 18px 16px 18px;

  background: #ffffff;
  border-radius: 5px;
}
.product__card-title {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 39px;
  margin-left: -25px;
}

.product__card-link {
  display: block;
  max-width: 250px;
  margin: 0px 0px 12px -25px;
  border-radius: 5px;
}

.product__card-img {
  width: 100%;
  height: 100%;
}
.product__card-shop {
  margin-left: -25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__card-price {
  font-size: 18px;
  line-height: 21px;
  color: #838383;
}

.product__card-add {
  position: relative;
  left: 9px;
  top: 1px;
  padding-left: 25px;
  font-size: 18px;
  line-height: 21px;
  color: #ff8f52;
}

.product__card-add::before {
  position: absolute;
  content: '';
  background-image: url('./assets/img/card.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 19px;
  left: 0px;
  top: 0px;
}
