.preview {
  margin-top: 73px;
  margin-bottom: 116px;

  display: flex;
  justify-content: space-between;
}

.preview__box {
  max-width: 406px;
}

.preview__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #121212;
}

.preview__descr {
  margin-top: 36px;

  font-size: 20px;
  line-height: 23px;
  color: #838383;
}

.preview__link {
  display: inline-block;
  margin-top: 46px;
  padding: 9px 22px 10px 21px;

  background: #ff8f52;
  border-radius: 5px;

  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.preview__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.preview__img {
  width: 192px;
  height: 192px;

  border-radius: 10px;
}

/* posts  */

.latest-posts_heading {
  margin-bottom: 26px;
}

.post-cards {
  display: flex;
  gap: 33px;

  margin-bottom: 116px;
}

.post-card {
  max-width: 377px;
  width: 100%;
  height: 100%;
  padding: 10px 10px 15px 10px;

  background-color: #fff;
  border-radius: 5px;
}

.post-card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 11px;
}

.post-card__author {
  display: inline-flex;
  align-items: center;
}

.post-card__author-picture {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  object-fit: contain;
}

.post-card__author-name {
  margin-left: 8px;
}

.post-card__date {
  color: #838383;
}

.post-card__img-box {
  display: block;
  margin: 0 -10px;
}

.post-card__img {
  max-width: 377px;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.post-card__content {
  margin-top: 16px;
}

.post-card__headline {
  margin-bottom: 13px;

  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

.post-card__text {
  max-width: 332px;
  font-size: 16px;
  line-height: 25px;
  color: #838383;
}

.post-card__info {
  margin-top: 36px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-card__counters {
  display: flex;
  gap: 5px;
}

.post-card__likes,
.post-card__viewed {
  margin-left: 7px;
  padding-left: 18px;

  font-size: 12px;
  line-height: 14px;
  color: #838383;

  position: relative;
}

.post-card__likes:before,
.post-card__viewed:before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
}

.post-card__likes:before {
  background-image: url('./assets/img/posts/like.svg');
  width: 14px;
  height: 12px;
}

.post-card__viewed:before {
  background-image: url('./assets/img/posts/viewed.svg');
  width: 15px;
  height: 12px;
}

.post-card__link {
  margin-right: 15px;

  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
