body {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea:focus,
input:focus,
select {
  outline: none;
}

button,
input {
  padding: 0;
  margin: 0;

  border: none;
  background-color: transparent;

  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;

  overflow: hidden;
}

/* Общие стили */
.auth {
  max-width: 976px;
  max-height: 673px;
  width: 100%;
  height: 100%;
  margin: 80px auto;
  display: flex;

  background-color: #ffffff;
}

.auth__container {
  max-width: 488px;
  width: 100%;
  padding: 30px 49px 43px 48px;
}

.auth__heading {
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.auth__subtitle {
  margin-bottom: 50px;

  font-size: 18px;
  line-height: 21px;
  color: #838383;
}

.auth__back {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.auth__home {
  margin-right: 5px;
  padding-top: 2px;

  width: 17px;
  height: 16px;
}

.auth__input {
  width: 100%;
  margin-bottom: 14px;
  padding: 21px 20px 21px 29px;

  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

/* Логин */

.auth__remember {
  margin-bottom: 66px;
  display: inline-block;

  font-size: 18px;
  line-height: 21px;
  color: #838383;
}

/* Регистрация */

.auth__policy {
  display: flex;

  margin-bottom: 12px;
  font-size: 16px;
  line-height: 25px;
  color: #838383;
}

.auth__policy-links {
  text-align: center;
}

.auth__policy-link {
  color: #ff8f52;
}

.auth__checkbox {
  margin-right: 7px;
}

.auth__submit {
  margin-bottom: 75px;
  padding: 17px 158px;

  background: #ff8f52;
  border-radius: 5px;

  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
  color: #ffffff;
}

.auth__redirect {
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  color: #838383;
}

.auth__decor {
  max-width: 488px;
  width: 100%;
  height: 673px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.auth__decor_login {
  background-image: url('../../assets/img/auth-decore-log.png');
}

.auth__decor_reg {
  background-image: url('../../assets/img/auth-decore.png');
}

.auth__link {
  font-size: 20px;
  line-height: 23px;
  color: #ff8f52;
}

/* custom checkbox */

.auth__checkbox {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
}

.auth__checkbox:focus + .custom_checkbox {
  transition: 0.5s ease-in;
  border: 1px solid black;
}

.auth__checkbox:checked + .custom_checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.custom_checkbox {
  position: relative;
  top: 2px;

  display: inline-block;
  width: 16px;
  height: 16px;

  background: #d9d9d9;
}

.custom_checkbox::before {
  content: '';

  display: inline-block;
  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 50%;

  background-image: url('../../assets/img/accept.png');
  background-size: contain;
  transform: translate(-50%, -50%) scale(0);

  transition: 0.2s ease-in;
}

/* adaptive */

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  .auth {
    max-width: 500px;
    justify-content: center;
  }
  .auth__decor {
    display: none;
  }
  .auth__submit {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .auth__container {
    padding: 30px 10px 43px 10px;
  }
  .auth__back {
    width: 30px;
    height: 30px;
    font-size: 0;
  }
  .auth__home {
    width: 30px;
    height: 30px;
    padding-top: 0;
  }
  .auth__policy {
    margin-bottom: 20px;
  }

  .auth__submit {
    width: 100%;

    padding: 17px 0;
  }
  .auth__remember {
    margin-bottom: 20px;
  }
}
