*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea:focus,
input:focus,
select {
  outline: none;
}

button,
input {
  padding: 0;
  margin: 0;

  border: none;
  background-color: transparent;

  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
  /* font-family: 'Inter', sans-serif; */
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;

  overflow: hidden;
}

/* HEADER */
.header {
  width: 100%;
  padding: 37px 0 31px 0;
  flex: 0 0 auto;

  background: #ffffff;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  margin-left: -101px;
  margin-top: -5px;

  display: flex;
  align-items: center;
  gap: 23.5px;
}

.header-nav__link {
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.header__info {
  padding-bottom: 3px;

  display: flex;
  align-items: center;
}

.header-info__link {
  display: inline-block;
}

.header-info__link-img {
  max-width: 34px;

  object-fit: contain;
}

.header-info__link:first-child {
  margin-right: 18px;
}

.active {
  color: #ff8f52;
}

/* MAIN */

.main {
  flex: 1 0 auto;
}

/* FOOTER */

.footer {
  flex: 0 0 auto;
  width: 100%;

  background: #454545;
}

.footer__inner {
  padding: 61px 0 54px;

  display: flex;
  gap: 122px;
}

.footer__info {
  width: 382px;
}

.footer__logo {
  margin-bottom: 14px;
}

.footer__content {
  font-size: 18px;
  line-height: 30px;
  color: #d9d9d9;
}

.footer__nav {
  margin-top: 27px;

  display: flex;
  gap: 131px;
}

.footer__nav-links {
  display: flex;
  flex-direction: column;
}

.footer__nav-title {
  margin-bottom: 18px;

  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.footer__nav-link {
  font-size: 18px;
  line-height: 30px;
  color: #d9d9d9;
}

.footer__contacts {
  width: 328px;

  display: flex;
  flex-direction: column;
  align-items: start;

  margin-top: 17px;
  margin-left: 8px;
}

.footer__contacts-title {
  margin-bottom: 28px;

  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.footer__contacts-link {
  font-size: 18px;
  line-height: 21px;
  color: #d9d9d9;

  position: relative;
}

.footer__contacts_address {
  margin-left: 3px;
  margin-bottom: 35px;
  padding-left: 26px;
}

.footer__contacts_email {
  margin-bottom: 36px;
  padding-left: 29px;

  font-size: 20px;
  line-height: 19px;
}

.footer__contacts_phone {
  margin-left: 1px;
  padding-left: 28px;
}

.footer__contacts_address::before,
.footer__contacts_email:before,
.footer__contacts_phone:before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
}

.footer__contacts_address:before {
  width: 13px;
  height: 18px;

  background-image: url('./img/location.svg');
}

.footer__contacts_email:before {
  width: 17px;
  height: 17px;

  background-image: url('./img/email.svg');
}

.footer__contacts_phone:before {
  width: 18px;
  height: 18px;

  background-image: url('./img/phone.svg');
}
