*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea:focus,
input:focus,
select {
  outline: none;
}

button,
input {
  padding: 0;
  margin: 0;

  border: none;
  background-color: transparent;

  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
  /* font-family: 'Inter', sans-serif; */
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;

  overflow: hidden;
}

/* HEADER */
.header {
  width: 100%;
  padding: 37px 0 31px 0;
  flex: 0 0 auto;

  background: #ffffff;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #ff8f52;
}

.logo span {
  color: #000;
}

.header__nav {
  margin-left: -101px;
  margin-top: -5px;

  display: flex;
  align-items: center;
  gap: 23.5px;
}

.header-nav__link {
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.header__info {
  padding-bottom: 3px;

  display: flex;
  align-items: center;
}

.header-info__link {
  display: inline-block;
}

.header-info__link-img {
  max-width: 34px;
  width: 100%;

  object-fit: contain;
}

.header-info__link:first-child {
  margin-right: 18px;
}

.active {
  color: #ff8f52;
}

/* MAIN */

.main {
  flex: 1 0 auto;
}

/* FOOTER */

.footer {
  flex: 0 0 auto;
  width: 100%;

  background: #454545;
}

.footer__inner {
  padding: 61px 0 54px;

  display: flex;
  gap: 122px;
}

.footer__info {
  width: 382px;
}

.footer__inner_logo {
  margin-bottom: 14px;
}

.footer__content {
  font-size: 18px;
  line-height: 30px;
  color: #d9d9d9;
}

.footer__nav {
  margin-top: 27px;

  display: flex;
  gap: 131px;
}

.footer__nav-links {
  display: flex;
  flex-direction: column;
}

.footer__nav-title {
  margin-bottom: 18px;

  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.footer__nav-link {
  font-size: 18px;
  line-height: 30px;
  color: #d9d9d9;
}

.footer__contacts {
  width: 328px;

  display: flex;
  flex-direction: column;
  align-items: start;

  margin-top: 17px;
  margin-left: 8px;
}

.footer__contacts-title {
  margin-bottom: 28px;

  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.footer__contacts-link {
  font-size: 18px;
  line-height: 21px;
  color: #d9d9d9;

  position: relative;
}

.footer__contacts_address {
  margin-left: 3px;
  margin-bottom: 35px;
  padding-left: 26px;
}

.footer__contacts_email {
  margin-bottom: 36px;
  padding-left: 29px;

  font-size: 20px;
  line-height: 19px;
}

.footer__contacts_phone {
  margin-left: 1px;
  padding-left: 28px;
}

.footer__contacts_address::before,
.footer__contacts_email:before,
.footer__contacts_phone:before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
}

.footer__contacts_address:before {
  width: 13px;
  height: 18px;

  background-image: url('../assets/img/location.svg');
}

.footer__contacts_email:before {
  width: 17px;
  height: 17px;

  background-image: url('../assets/img/email.svg');
}

.footer__contacts_phone:before {
  width: 18px;
  height: 18px;

  background-image: url('../assets/img/phone.svg');
}

/* burger menu  */

.burger {
  display: none;
}

.burger__toggle {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.burger__btn {
  display: inline-flex;
  align-items: center;

  position: relative;
  top: 0;
  left: 10px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 15;
}

.burger__btn > span,
.burger__btn > span::before,
.burger__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff8f52;
}
.burger__btn > span::before {
  content: '';
  top: -8px;
}
.burger__btn > span::after {
  content: '';
  top: 8px;
}

.burger__box {
  display: block;
  visibility: hidden;

  position: fixed;
  top: 0;
  right: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  background-color: #ececec;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.burger__menu {
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.burger__link {
  width: 100%;
  padding: 12px 16px;

  text-align: center;
  color: #333;
  font-size: 28px;
  font-weight: 600;
}

.burger__link:hover {
  background-color: #cfd8dc;
}

.burger__toggle:checked ~ .burger__btn {
  position: fixed;
  top: 26px;
  right: 20px;
  left: auto;
}

.burger__toggle:checked ~ .burger__btn > span {
  transform: rotate(45deg);
}

.burger__toggle:checked ~ .burger__btn > span::before {
  top: 0;
  transform: rotate(0);
}

.burger__toggle:checked ~ .burger__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.burger__toggle:checked ~ .burger__box {
  visibility: visible;
  left: 0;
}

.burger__btn > span,
.burger__btn > span::before,
.burger__btn > span::after,
.burger__box,
.burger__link {
  transition: 0.3s ease-in-out;
}

.error {
  width: 100%;
  text-align: center;
}

.loader {
  display: block;
  margin: 0 auto;

}



@media (max-width: 991px) {
  .footer__inner {
    gap: 10%;
  }
  .footer__nav {
    gap: 75px;
  }

  .footer__contacts-link,
  .footer__content {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px 0;
  }

  .header__inner {
    gap: 10px;
  }

  .logo {
    font-size: 28px;
  }

  .burger {
    display: inline-flex;
  }

  .header__nav {
    display: none;
  }

  .footer__inner {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }

  .footer__content {
    text-align: center;
  }

  .footer__inner_logo {
    display: block;
    text-align: center;
  }

  .footer__nav {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
  }

  .footer__contacts {
    margin-top: 0;
    margin-left: 0;
  }

  .footer__contacts-title {
    margin: 0 auto 15px;
  }

  .footer__contacts {
    align-items: center;
  }
}

@media (max-width: 480px) {
  .footer__inner {
    padding: 30px 0;
  }
}
