.title {
  margin-left: -4px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  line-height: 38px;
  color: #000000;
  white-space: nowrap;
}

.title::before,
.title::after {
  content: '';
  display: block;
  width: 165px;
  height: 2px;

  background: #d9d9d9;
}

.title::before {
  margin-right: 19px;
}

.title::after {
  margin-left: 19px;
}

.preview {
  margin-top: 73px;
  margin-bottom: 117px;

  display: flex;
  justify-content: space-between;
}

.preview__box {
  max-width: 406px;
  margin-top: -4px;
}

.preview__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #121212;
}

.preview__descr {
  margin-top: 38px;

  font-size: 20px;
  line-height: 23px;
  color: #838383;
}

.preview__link {
  display: inline-block;
  margin-top: 46px;
  padding: 9px 22px 10px 21px;

  background: #ff8f52;
  border-radius: 5px;

  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.preview__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.preview__img {
  max-width: 192px;
  width: 100%;

  object-fit: contain;
  border-radius: 10px;
}

/* best sellers */

.best-selers_heading {
  margin-bottom: 32px;
}

.products__cards {
  margin-bottom: 103px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.product__card {
  max-width: 287px;
  padding: 17px 19px 13px 18px;

  background: #ffffff;
  border-radius: 5px;
}

.product__card-title {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 39px;
}

.product__card-link {
  margin-bottom: 12px;

  display: block;
  max-width: 250px;

  border-radius: 5px;
}

.product__card-img {
  width: 100%;
  height: 100%;
}

.product__card-shop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__card-price {
  font-size: 18px;
  line-height: 21px;
  color: #838383;
}

.product__card-add {
  padding-left: 25px;

  position: relative;
  top: -1px;
  left: 6px;

  cursor: pointer;
  font-size: 18px;
  line-height: 21px;
  color: #ff8f52;
}

.product__card-add::before {
  content: '';
  width: 20px;
  height: 19px;

  position: absolute;
  left: 0;
  top: 0;

  background-image: url('../assets/img/cart.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* posts  */

.latest-posts_heading {
  margin-bottom: 26px;
}

.post-cards {
  display: flex;
  gap: 33px;
  margin-bottom: 116px;
}

.post-card {
  max-width: 377px;
  width: 100%;
  height: 100%;
  padding: 10px 10px 15px 10px;

  background-color: #fff;
  border-radius: 5px;
}

.post-card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 11px;
}

.post-card__author {
  display: inline-flex;
  align-items: center;
}

.post-card__author-picture {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  object-fit: contain;
}

.post-card__author-name {
  margin-left: 8px;
}

.post-card__date {
  color: #838383;
}

.post-card__img-box {
  display: block;
  margin: 0 -10px;
}

.post-card__img {
  max-width: 377px;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.post-card__content {
  margin-top: 16px;
}

.post-card__headline {
  margin-bottom: 13px;

  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}

.post-card__text {
  max-width: 332px;
  font-size: 16px;
  line-height: 25px;
  color: #838383;
}

.post-card__info {
  margin-top: 36px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-card__counters {
  display: flex;
  gap: 5px;
}

.post-card__likes,
.post-card__viewed {
  margin-left: 7px;
  padding-left: 18px;

  font-size: 12px;
  line-height: 14px;
  color: #838383;

  position: relative;
}

.post-card__likes:before,
.post-card__viewed:before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
}

.post-card__likes:before {
  background-image: url('../assets/img/posts/like.svg');
  width: 14px;
  height: 12px;
}

.post-card__viewed:before {
  background-image: url('../assets/img/posts/viewed.svg');
  width: 15px;
  height: 12px;
}

.post-card__link {
  margin-right: 15px;

  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

/* comments  */

.comments {
  margin-bottom: 104px;
}

.comments_heading {
  margin-bottom: 15px;
}

.comments__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.comment {
  max-width: 382px;
  width: 100%;
  height: 100%;
  padding: 20px 28px 32px 29px;

  background-color: #fff;
}

.comment__user {
  display: flex;
  gap: 17px;
  align-items: center;
}

.comment__user-img {
  max-width: 58px;

  border-radius: 50%;

  object-fit: cover;
}

.comment__user-name {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.comment__review {
  margin-top: -5px;
  margin-left: 75px;
}

.comment__user-text {
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.comment__rating {
  margin-top: 20px;
  display: flex;
  gap: 8px;
}

@media (max-width: 991px) {
  .preview {
    margin-top: 7%;
    margin-bottom: 12%;
    gap: 20px;
  }

  .preview__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
  }

  .preview__link,
  .preview__descr {
    margin-top: 25px;
  }

  .preview__images {
    row-gap: 2%;
  }

  .products__cards {
    margin-bottom: 50px;
  }

  .product__card {
    padding: 10px 7px;
  }

  .product__card-title {
    font-size: 18px;
  }

  .product__card-add {
    top: 0;
    left: 0;
  }

  .post-cards {
    margin-bottom: 50px;

    gap: 15px;
  }

  .post-card__headline {
    font-size: 16px;
  }

  .post-card__text {
    font-size: 14px;
    line-height: 20px;
  }

  .post-card__likes {
    margin-left: 0;
  }

  .post-card__link {
    margin-right: 0;
  }

  .comments {
    margin-bottom: 50px;
  }

  .comment {
    padding: 10px 14px 20px 14px;
  }

  .comment__review {
    margin-top: 5px;
    margin-left: 15px;
  }

  .comment__rating {
    margin-top: 10px;

    justify-content: center;
  }
}

@media (max-width: 768px) {
  .preview {
    flex-wrap: wrap;
    justify-content: center;
  }

  .preview__box {
    max-width: 586px;
    width: 100%;
  }

  .preview__title {
    text-align: center;
    font-size: 36px;
    line-height: 46px;
  }

  .preview__images {
    gap: 5px;
  }

  .product__card {
    width: 179px;
  }
}

@media (max-width: 480px) {
  .title {
    margin-bottom: 25px;

    font-size: 26px;
    line-height: 28px;
  }
}
